@mixin centering{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

$fontColor : #fff;
$primary   : #99ccff;
$secondary : #66b2ff;
$bigtext   : 50px;
$liltext   : 20px;

body{
  background: $primary;
  color: $fontColor;
  font-family: "Arial MS", Arial, sans-serif;
  font-size: $liltext;
}

a{
  color: $fontColor;
  text-decoration: none;
}

button{
  font-size: $bigtext;
  background: none;
  border: none;
  color: $fontColor;
  cursor: pointer;
  outline: 0;
}

.notes button{
  font-size: $liltext;
  background: $secondary;
  color: #fff;
  border-radius: 4px;
}

.notes button:hover{
  background: #4da5ff;
}

.game{
  @include centering;
  font-size: $bigtext;
}

.result{
  margin-top: 20px;
  font-size: 20px;
}

.notes{
  position: absolute;
  top: 5;
  left: 5;
}

::selection{
  background: $secondary;
  color: $primary;
}